*{
    padding: 0 auto;
    margin: 0 auto;
}

body {
    padding: 10px;
    background-color: #f1ecea;
    width: 900px;
    height: 1000px;
}

#encabezado {
    height: 15%;
    background-color: #3a251c;
}

#barraNavegacion {
    height: 5%;
    background-color: #b46424;
}

#seccion {
    width: 64%;
    height: 70%;
    float: left;
    background-color: #362f2f;
}

#aside {
    width: 35%;
    height: 70%;
    float: right;
    background-color: #b58c7c;
    
}

#piePagina{
    height: 10%;
    width: 100%;
    float: left;
    background-color: #3a251c;
    
}

.textoTitulo {
    font-family: tahoma;
    color: white;
    text-align: center;
    font-size: 50px;
}

.textoTituloSecciones {
    font-family: tahoma;
    color: white;
    text-align: center;
    font-size: 25px;
}

.texto{
    font-family: tahoma;
    color: white;
    text-align: justify;
    font-size: 17px;
    margin: 15px;
}

.textoMenu {
    font-family: tahoma;
    color: white;
    text-align: center;
    font-size: 16px;
}

.textoPie{
    font-family: tahoma;
    color: white;
    text-align: center;
    font-size: 30px;
}

img {
    height: 100px;
    width: 100px;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

.lista{
    display: list-item;
    color: white;
    text-align: justify;
    margin-left: 15px;
}

ul {
    text-align: center;
}

a{
    color: white;
}

li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    font-family: tahoma;
    color: white;
}